@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,100;1,200;1,300;1,400&display=swap");

.tuvens {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 600;
    background-color: #F6F5FB;
    height: 100vh;
    width: 100vw;
}

.rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}